.model-grid{
	height: 100%;
	width: 100%;
}
.model-grid-slash{
	opacity: 0.4;
	padding: 0 6;
}
.model-grid-slide{
	width: 100%;
	height: 100%;
}
*{
	outline: none;
}
.menu-slide{
	overflow: visible;
	// overflow-x: hidden;
}
.model-grid-menu-tab-option{
	min-width: max-content;
	max-width: auto;
}
.model-grid-cell{
	height: 30;
	font-family: "Roboto Mono";
	font-size: 13;
	vertical-align: middle;
	line-height: 30px;
	overflow: hidden;
    text-align: left;
    padding: 0px 10px;
}
.model-grid-list-menu-right{
	width: 100%;
    flex-direction: row-reverse;
}
.model-grid-list-layout-button{
	width: 140px;
}
.model-grid-list-menu{

}

.model-grid-selection-menu{

}