@import './_globals.less';
.model-grid{
	height: 100%;
	width: 100%;
}
.model-grid-slash{
	opacity: 0.4;
	padding: 0 4;
}
.model-grid-slide{
	width: 100%;
	height: 100%;
}
.model-grid-opaque{
	opacity: 0.5;
}
.model-grid-add-doc-form{
	max-height: 300px;
	height: fit-content;
	overflow-y: scroll;
}

.model-grid-label-float-right{
	right: 10px;
    position: absolute;
}

.model-grid-search-query-l-item{
	min-height: 30px;
	// padding: 2.5px 5px;
	i{
		font-size: 15;
		position: absolute;
		width: 30px;
		right: 0;
		height: 100%;
		top: 0;
		display: flex;
		opacity: 0.5;
		align-items: center;
		justify-content: center;
		font-size: 16px !important;
		color: white;
		&:hover{
			// color: yellow;
			opacity: 1;
		}
	}
	.json{
		position: relative;
		min-height: 30px;
		margin: 0;
		overflow-wrap: break-word;
		
		padding: 8px;
		font-size: 10px;
		cursor: pointer;
		white-space: pre;
		// opacity: 0.8;
		// box-sizing: border-box;
		// &:hover{
		// 	opacity:1;
		// }
		// border-radius: 2px;
	}

}

*{
	outline: none;
}
.menu-slide{
	overflow: visible;
	// overflow-x: hidden;
}

.model-grid-search-query-helper{
	background: black;
}

.model-grid-key{
	cursor: pointer;
	// transition: color @ease;
	.model-grid-key-toggle{
		opacity: 0.5;
		transition: opacity @ease;
	}
	&:hover{
		.model-grid-key-toggle{
			opacity: 1;
			// font-weight: 600;
			// text-decoration: underline;
		}
	}
}
.model-grid-key-toggle{
	// transition: transform 0.3;
	line-height: 30px;
	// margin-left: 2px;
}

.model-grid-cell{
	display: flex;
	height: 30;
	font-family: @monofont;
	font-size: 13;
	vertical-align: middle;
	line-height: 30px;
	overflow: hidden;
    text-align: left;
    padding: 0px 10px;
}
.model-grid-list-menu-right{
	width: 100%;
    flex-direction: row-reverse;
}
.model-grid-list-layout-button{
	width: 140px;
}
.model-grid-list-menu{

}

.model-grid-selection-menu{

}