@import './Font.css';
@import './_globals.less';

body{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: @fontsize;
	font-family: @mainfont;
	font-weight: 300;
	box-sizing: border-box;
}

*{
	box-sizing: border-box;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}


.section{
	position: relative;
	padding: @dim * 1/3;
	flex-shrink: 0;
}

.section-content{
	margin: @border-radius*2 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	p{
		width: 100%;
		margin-top: 8;
		margin-bottom: 8;
	}
}

.absolute-center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.section-title{
	// padding: 5 0;
	margin: 0;
	margin-top: 0;
    margin-left: 0;
    // margin-bottom: 8;
    width: 100%;
	/* padding-right: 30; */
	text-transform: capitalize;
	display: inline-flex;
	align-items: center;
	font-size: @fontsize;
	flex-wrap: wrap;
	font-weight: 700;
}
.section-title-bar{
	height: @border-radius*2;
	width: @dim*2;
	border-radius: @border-radius;
	margin-left: @margin-size*2;
    margin-top: @fontsize/6;
    // margin-bottom: @margin-size;
}


.alert-dot{
	border-radius: 50%;
	width: round(@dim * 1/3);
	height: round(@dim * 1/3);
	position: absolute;
	top: -@dim * 1/3 * 1/3;
	right: -@dim * 1/3 * 1/3;
}

a{
	text-decoration: none;
}
.input-bar{
	transition: inherit;
	height: @dim / 1.5;
	width: @border-radius*2;
	flex-shrink: 0;
	margin: 0 @margin-size*2;
	border-radius: @border-radius;
}

.overlay-input{
	position: absolute !important;
	left: 0;
	height: 100%;
	display: flex;
	align-items: center;
	top: 0;
}

.input-wrap{
	position: relative;
}


.modal-shadow{
	box-shadow: 0px 0px 10px #00000014;
}


.btn{
	white-space: pre;
	font-family: @monofont;
	max-width: 100%;
	outline: none;
	border: none;
	padding: 0 @padding-size;
	min-height: @dim;
	min-width: @dim;
	margin: @margin-size;
	display: inline-flex;
	align-items: center;
	position: relative;
	justify-content: flex-start;
	border-radius: @border-radius;
	font-weight: 400;
	transition: filter @ease,background @ease, color @ease;
	cursor: default;
	
	textarea{
		border: none;
		color: inherit;
		background: none;
		padding: 3px @margin-size;
		// width: 100%;
		min-width: 100%;
		width: 100%;
		min-height: 100px;
		outline: none;
	}
	
	.chip{
		margin-top: 0;
	}
	.label{
		max-width: 100%;
		white-space: initial;
		flex-shrink: 1;
		height: auto;
		vertical-align: middle;
		// text-align: center;
		line-height: normal;
		margin: 0 @margin-size;
	}
	.top-label{
		transition: opacity @ease;
		opacity: 0;
		padding: 0;
		margin: 0;
		position: absolute;
		left: 0;
		top: -@dim/2;
		font-size: @fontsize;
	}

	.label-opaque{
		opacity: 0.5;
	}

	.top-label.label-opaque{
		opacity: 0.8;
	}

	i{
		font-size: @dim * 2/3;
		transition:  color @ease;
		margin: 0 @margin-size;
		margin-left: 0;
	}	

	&.btn-textarea{
		padding: @padding-size !important;
		flex-wrap: wrap;
		height: auto;
		min-height: 100px;
		min-width: 300px;
		.input-bar{
			width: 30%;
			height: @border-radius*2;
			margin-right: 0;
			margin-left: 0;
			margin-top: @margin-size*2;
			margin-bottom: @margin-size;
		}
		.label{
			width: 100%;
		}
	}
	&.btn-big{
		min-height: @dim * 4/3 !important;
		padding: 0 @padding-size*2;
		&.btn-icon-square{
			width: @dim * 4/3;
		}
		i{
			font-size: @dim * 2.5/3;
			margin-left: 0;// margin-left: -@padding-size/2;
		}
		.overlay-icon{
			padding: 13px;
		}
		select{
			height: @dim * 4/3;
			min-width: @dim * 4/3;
			padding: 0 @padding-size*2 !important; 
		}
	}
	&.btn-icon-square{
		padding: 0 !important;
		width: @dim;
		flex-grow: 0 !important;
		align-items: center;
		justify-content: center;
		i{
			margin: 0 !important;
		}
	}
	
	// .btn.input{
	// 	margin: @margin-size !important;
	// }
	input,.overlay-input{
		margin: 0 @margin-size !important;
	}
	
	input,select,.input{
		-webkit-appearance: none;
		width: 100%;
		user-select: all;
		outline: none;
		background: none;
		border: none;
		color: inherit;
		padding: 0;
		// height: auto;
		vertical-align: middle;
    	line-height: normal;
    	position: relative;
		min-width: 100px;
		&.hidden{
			min-width: 0px;
			height: 0px;
		}
		&[type="time"],&[type="date"]{
			user-select: none;
		}
		&[type="file"]{
			width: 100%;
			// cursor: pointer;
			// z-index: 2;
			/* visibility: hidden; */
			height: 100% !important;
			left: 0;
			top: 0;
			position: absolute;
			opacity: 0;
			z-index: 1;
			-webkit-appearance: none;
		}
	}
	select{
		min-width: auto;
		cursor: pointer;
		height: @dim;
		padding: 0 @padding-size;
	}


	
	// select{
	// 	cursor: pointer;
	// }
	.label-2{
		// font-weight: 600;
		padding-right: @dim * 2/3;
		opacity: 0.5;
	}
	.overlay-icon{
		transition: opacity @ease;
		position: absolute;
		right: 0;
		top: 0;
		opacity: 0.5;
		font-size: @dim /2;
    	padding: 8px;
	}

	::placeholder{
		color: inherit;
		opacity: 0.5;
	}
}

.type-select{
	padding: 0 !important;
}

pre{
	font-family: @monofont;
	font-size: inherit;
}


.hidden{
	opacity: 0 !important;
	width: 0 !important;
	margin: 0 !important;
}

.chip{
	height: @dim * 2/3;
	border-radius: @border-radius;
	margin: 0 @margin-size;
	padding: 0 @margin-size*2;
	display: inline-flex;
	flex-shrink: 0;
	font-size: 11px;
	align-items: center;
	justify-content: center;
	// cursor: pointer;
}
// .chip-inline{
// 	margin-right: 0;
// 	margin-top: 0;
// }

.checkbox-circle{
	height: @dim * 2/3;
	width: @dim * 2/3;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0 @margin-size;
	margin-right: @margin-size*2;
	overflow: hidden;
	z-index: 1;
	transform: translate(0);
	transition: background @ease, transform @ease, opacity @ease;
}
.checkbox-circle-inner{
	height: @dim * 2/3;
	width: @dim * 2/3;
	border-radius: 50%;
	transform: scale(0.6);
	transition: background @ease, transform @ease, opacity @ease;
	// opacity: 0.4;
	&.active{
		// opacity: 1;
		transform: scale(0.7);
	}
}

.toggle{
	flex-shrink: 0;
	transform: translate(0);
	border-radius: @border-radius;
	height: @dim * 2/3 !important;
	width: @dim !important;
	margin-right: @margin-size * 2;
	i{
		font-size: @fontsize * 4/3 !important;
	}
	
	margin-left: @margin-size;
	
	// &.big{
	// 	// height: @dim2 * 2/3;
	// 	width: @dim2;
	// 	// margin-left: @margin-size*2;
	// }

	// cursor: pointer;
	
	
	.toggle-on{
		background: red;
	}
	.toggle-off{
		background: green;
	}
}

.input-color-circle{
	margin-left: @margin-size;
	min-width: 70px;
}

.input-color-text{
	font-size: @dim/3;
	opacity: 0.6;
	// font-weight: 400;
}



.disabled{
	filter: grayscale(0.6) opacity(0.6);
	cursor: default;
	pointer-events: none;
}


.toggle-bar{
	width: @border-radius*2;
	height: 60%;
	border-radius: @border-radius;
}




.sqaure-btn{
	margin: 0;
	border-radius: 0;
	flex-grow: 1;
	flex-shrink: 0;
}

.square-btn-big{
	padding: 0 @padding-size*1;
	height: @dim * 4/3;
	&.btn-icon-square{
		width: @dim * 4/3;
		i{
			margin-left: 0;
		}
	}
	input,.input{
		height: @dim * 4/3;
		margin: 0 @margin-size*1;
	}
	.alert-dot{
		top: 4;
		right: 4;
	}
	.label-2{
		padding-right: @dim;
	}
	
	.label{
		margin: 0 @margin-size*1;
	}
	i{
		font-size: @dim * 2.5/3;
	}	
}

.square-btn-small{
	padding: 0 @padding-size;
	height: @dim;
	&.btn-icon-square{
		width: @dim;
	}
	input,.input{
		height: @dim;
		margin: 0 @margin-size;
	}
	.alert-dot{
		top: 2;
		right: 2;
	}

	.label{
		margin: 0 @margin-size;
	}
	i{
		font-size: @dim * 2/3;
	}
	.label-2{
		padding-right: @dim * 2/3;
	}
	.overlay-icon{
		padding: @dim * 1/3;
	}
}


.bar{
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	height: auto;
	max-width: 100%;

	&.bar-btn{
		border-radius: @border-radius;
		overflow: hidden;
		transform: translate(0);
		margin: @margin-size;
		// margin-left: 0;
		// margin-right: @margin-size*2;
	}

	// &.bar-big{
	// 	height: @dim * 4/3;
	// }
	// &.bar-small{
	// 	height: @dim;
	// }
	&.bar-vert{
		height: auto;
		
		// flex-wrap: wrap;
		flex-direction: column;
		display: flex; //inline-grid;
	}
	
	
	&>.btn,&>.tab-wrapper>.btn{
		.sqaure-btn()
	}
	&.bar-big>.btn,&.bar-big>.tab-wrapper>.btn{
		.square-btn-big()
	}
	&.bar-small>.btn,&.bar-small>.tab-wrapper>.btn{
		.square-btn-small()
	}

}

.bar.bar-vert.btn{
	width: -webkit-fit-content;
}



.tab-wrapper,.tab-content{
	position: relative;
	display: flex;
	width: auto;
	flex-shrink: 0;
}



.menu-bar{
	position: absolute;
	width: fit-content;
    min-width: max-content;
	display: flex;
}



.overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity @ease;
	&.overlay-hidden{
		opacity: 0;
	}
	.overlay-slide{
		width: 100%;
		height: 100%;
	}
	pointer-events: none;
}

.overlay.overlay-children-pointer-events{
	*{
		pointer-events: all;
	}
}



.overlay-blocking{
	pointer-events: all;
}



.overlay-alert{	
	padding: @padding-size;
	font-size: 11px;
	font-family: @monofont;
}




// loader
.loader-wrapper{
	width: auto;
	height: auto;
	// perspective: 500px;

}
.loader {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: @dim * 1/3;
	height: @dim * 1/3;
	border-radius: @border-radius;
	background-color: #FFFFFF;
	animation: _ii_rotate 1s infinite ease-in-out;
	transition: opacity 0.3s ease;	
}
.loader-stop{
	animation: _ii_rotate 0.3s ease-in-out;
	animation-iteration-count: 0;
	opacity: 0.2;
	transition: opacity 0.3s ease-in-out,transform 0.1s ease-in-out;
}
@keyframes _ii_rotate {
  0% {
    transform: perspective(30px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(30px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(30px) rotateX(-180deg) rotateY(-180deg);
  }
}
